docs/ksef/official-docs/faktury/schemy/PEF/bazowe/20241206_PEFPL-CommonBasicComponents-2.1-v1.4.34.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2006 rel. 3 sp2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cbc="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" xmlns:cbc-pl="urn:pl:extended:CommonBasicComponents-2" targetNamespace="urn:pl:extended:CommonBasicComponents-2" elementFormDefault="qualified">
	<xs:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" schemaLocation="UBL-CommonBasicComponents-2.1.xsd"/>
	<xs:element name="AccountingCost" type="cbc:AccountingCostType"/>
	<xs:element name="AdditionalStreetName" type="cbc:AdditionalStreetNameType"/>
	<xs:element name="AllowanceChargeReason" type="cbc:AllowanceChargeReasonType"/>
	<xs:element name="AllowanceChargeReasonCode" type="cbc:AllowanceChargeReasonCodeType"/>
	<xs:element name="AllowanceTotalAmount" type="cbc:AllowanceTotalAmountType"/>
	<xs:element name="Amount" type="cbc:AmountType"/>
	<xs:element name="BaseAmount" type="cbc:BaseAmountType"/>
	<xs:element name="BaseQuantity" type="cbc:BaseQuantityType"/>
	<xs:element name="CalculationMethod" type="cbc:ValueType"/>
	<xs:element name="ChargeIndicator" type="cbc:ChargeIndicatorType"/>
	<xs:element name="CorrectedConsumptionQuantity" type="cbc:BaseQuantityType"/>
	<xs:element name="ChargeTotalAmount" type="cbc:ChargeTotalAmountType"/>
	<xs:element name="CityName" type="cbc:CityNameType"/>
	<xs:element name="CompanyID" type="cbc:CompanyIDType"/>
	<xs:element name="CompanyLegalForm" type="cbc:CompanyLegalFormType"/>
	<xs:element name="Description" type="cbc:DescriptionType"/>
	<xs:element name="DescriptionCode" type="cbc:DescriptionCodeType"/>
	<xs:element name="DurationMeasure" type="cbc:DurationMeasureType"/>
	<xs:element name="ElectronicMail" type="cbc:ElectronicMailType"/>
	<xs:element name="EndDate" type="cbc:EndDateType"/>
	<xs:element name="EndTime" type="cbc:EndTimeType"/>
	<xs:element name="FuelTypeCode" type="cbc:TypeCodeType"/>
	<xs:element name="GrossPriceAmount" type="cbc:PriceAmountType"/>
	<xs:element name="ID" type="cbc:IDType"/>
	<xs:element name="IdentificationCode" type="cbc:IdentificationCodeType"/>
	<xs:element name="InvoicedQuantity" type="cbc:InvoicedQuantityType"/>
	<xs:element name="ItemClassificationCode" type="cbc:ItemClassificationCodeType"/>
	<xs:element name="LatestMeterReadingDate" type="cbc:DateType"/>
	<xs:element name="LatestMeterQuantity" type="cbc:InvoicedQuantityType"/>
	<xs:element name="LatestMeterReadingMethod" type="cbc:LatestMeterReadingMethodType"/>
	<xs:element name="LineExtensionAmount" type="cbc:LineExtensionAmountType"/>
	<xs:element name="LineExtensionGrossAmount" type="cbc:LineExtensionAmountType"/>
	<xs:element name="MeterNumber" type="cbc:MeterNumberType"/>
	<xs:element name="MeterReadingType" type="cbc:MeterReadingTypeType"/>
	<xs:element name="MeterReadingTypeCode" type="cbc:MeterReadingTypeCodeType"/>
	<xs:element name="MultiplierFactorNumeric" type="cbc:MultiplierFactorNumericType"/>
	<xs:element name="Name" type="cbc:NameType"/>
	<xs:element name="Value" type="cbc:ValueType"/>
	<xs:element name="Note" type="cbc:NoteType"/>
	<xs:element name="PayableAmount" type="cbc:PayableAmountType"/>
	<xs:element name="PayableRoundingAmount" type="cbc:PayableRoundingAmountType"/>
	<xs:element name="Percent" type="cbc:PercentType"/>
	<xs:element name="Percentage" type="cbc:PercentType"/>
	<xs:element name="PostalZone" type="cbc:PostalZoneType"/>
	<xs:element name="PrepaidAmount" type="cbc:PrepaidAmountType"/>
	<xs:element name="PreviousMeterReadingMethod" type="cbc:PreviousMeterReadingMethodType"/>
	<xs:element name="PreviousMeterReadingDate" type="cbc:DateType"/>
	<xs:element name="PreviousMeterQuantity" type="cbc:InvoicedQuantityType"/>
	<xs:element name="PriceAmount" type="cbc:PriceAmountType"/>
	<xs:element name="RegistrationName" type="cbc:RegistrationNameType"/>
	<xs:element name="StartDate" type="cbc:StartDateType"/>
	<xs:element name="StartTime" type="cbc:StartTimeType"/>
	<xs:element name="StreetName" type="cbc:StreetNameType"/>
	<xs:element name="TaxAmount" type="cbc:TaxAmountType"/>
	<xs:element name="TaxExclusiveAmount" type="cbc:TaxExclusiveAmountType"/>
	<xs:element name="TaxInclusiveAmount" type="cbc:TaxInclusiveAmountType"/>
	<xs:element name="TaxableAmount" type="cbc:TaxableAmountType"/>
	<xs:element name="TaxExemptionReason" type="cbc:TaxExemptionReasonType"/>
	<xs:element name="TaxExemptionReasonCode" type="cbc:TaxExemptionReasonCodeType"/>
	<xs:element name="Telephone" type="cbc:TelephoneType"/>
</xs:schema>
