src/modules/ksef/docs/official-docs/faktury/schemy/PEF/bazowe/20241206_PEFPL-CommonAggregateComponents-2.1-v1.4.34.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2006 rel. 3 sp2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cac="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2" xmlns:cbc="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" xmlns:cbc-pl="urn:pl:extended:CommonBasicComponents-2" xmlns:cac-pl="urn:pl:extended:CommonAggregateComponents-2" targetNamespace="urn:pl:extended:CommonAggregateComponents-2" elementFormDefault="qualified">
	<xs:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2" schemaLocation="UBL-CommonAggregateComponents-2.1.xsd"/>
	<xs:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" schemaLocation="UBL-CommonBasicComponents-2.1.xsd"/>
	<xs:import namespace="urn:pl:extended:CommonBasicComponents-2" schemaLocation="20241206_PEFPL-CommonBasicComponents-2.1-v1.4.34.xsd"/>
	<xs:element name="Country">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cbc-pl:IdentificationCode" minOccurs="0"/>
				<xs:element ref="cbc-pl:Name" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AccountingSupplierParty">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cac-pl:Party"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AccountingCustomerParty">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cac-pl:Party"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AdditionalInvoiceDataNetto">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cac-pl:InvoiceLine" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AdditionalInvoiceGrossData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cbc-pl:CalculationMethod" minOccurs="0"/>
				<xs:element ref="cac-pl:AllowanceCharge" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="cac-pl:TaxTotal" minOccurs="0"/>
				<xs:element ref="cac-pl:InvoiceLine" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AdditionalAddressData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cac-pl:SellerSupplierParty" minOccurs="0"/>
				<xs:element ref="cac-pl:ReceiverParty" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AdditionalItemProperty">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cbc-pl:Name"/>
				<xs:element ref="cbc-pl:Value" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AllowanceCharge">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cbc-pl:ChargeIndicator" minOccurs="0"/>
				<xs:element ref="cbc-pl:AllowanceChargeReasonCode" minOccurs="0"/>
				<xs:element ref="cbc-pl:AllowanceChargeReason" minOccurs="0"/>
				<xs:element ref="cbc-pl:MultiplierFactorNumeric" minOccurs="0"/>
				<xs:element ref="cbc-pl:Amount" minOccurs="0"/>
				<xs:element ref="cbc-pl:BaseAmount" minOccurs="0"/>
				<xs:element ref="cac-pl:TaxCategory" minOccurs="0"/>
				<xs:element ref="cac-pl:TaxTotal" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BuyersItemIdentification">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cbc-pl:ID"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ClassifiedTaxCategory">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cbc-pl:ID" minOccurs="0"/>
				<xs:element ref="cbc-pl:Percent" minOccurs="0"/>
				<xs:element ref="cac-pl:TaxScheme"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CommodityClassification">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cbc-pl:ItemClassificationCode" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="InvoiceCorrection">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cac-pl:AdditionalInvoiceGrossData" minOccurs="0"/>
				<xs:element ref="cac-pl:AllowanceCharge" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="cac-pl:TaxTotal" maxOccurs="2"/>
				<xs:element ref="cac-pl:LegalMonetaryTotal"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="InvoiceLine">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cbc-pl:ID"/>
				<xs:element ref="cbc-pl:Note" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="cbc-pl:InvoicedQuantity" minOccurs="0"/>
				<xs:element ref="cbc-pl:LineExtensionAmount" minOccurs="0"/>
				<xs:element ref="cbc-pl:LineExtensionGrossAmount" minOccurs="0"/>
				<xs:element ref="cbc-pl:AccountingCost" minOccurs="0"/>
				<xs:element ref="cac-pl:InvoicePeriod" minOccurs="0"/>
				<xs:element ref="cac-pl:AllowanceCharge" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="cac-pl:TaxTotal" minOccurs="0"/>
				<xs:element ref="cac-pl:Item" minOccurs="0"/>
				<xs:element ref="cac-pl:Price" minOccurs="0"/>
				<xs:element ref="cac-pl:SubInvoiceLine" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Item">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cbc-pl:Description" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="cbc-pl:Name" minOccurs="0"/>
				<xs:element ref="cac-pl:BuyersItemIdentification" minOccurs="0"/>
				<xs:element ref="cac-pl:SellersItemIdentification" minOccurs="0"/>
				<xs:element ref="cac-pl:StandardItemIdentification" minOccurs="0"/>
				<xs:element ref="cac-pl:OriginCountry" minOccurs="0"/>
				<xs:element ref="cac-pl:CommodityClassification" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="cac-pl:ClassifiedTaxCategory" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="cac-pl:AdditionalItemProperty" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LegalMonetaryTotal">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cbc-pl:LineExtensionAmount" minOccurs="0"/>
				<xs:element ref="cbc-pl:TaxExclusiveAmount" minOccurs="0"/>
				<xs:element ref="cbc-pl:TaxInclusiveAmount" minOccurs="0"/>
				<xs:element ref="cbc-pl:AllowanceTotalAmount" minOccurs="0"/>
				<xs:element ref="cbc-pl:ChargeTotalAmount" minOccurs="0"/>
				<xs:element ref="cbc-pl:PrepaidAmount" minOccurs="0"/>
				<xs:element ref="cbc-pl:PayableRoundingAmount" minOccurs="0"/>
				<xs:element ref="cbc-pl:PayableAmount"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OriginCountry">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cbc-pl:IdentificationCode"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OriginalDocumentData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cbc:ID" minOccurs="0"/>
				<xs:element ref="cbc:IssueDate" minOccurs="0"/>
				<xs:element ref="cbc:DueDate" minOccurs="0"/>
				<xs:element ref="cbc:Note" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="cbc:TaxPointDate" minOccurs="0"/>
				<xs:element ref="cac:InvoicePeriod" minOccurs="0"/>
				<xs:element ref="cac-pl:AccountingSupplierParty" minOccurs="0"/>
				<xs:element ref="cac-pl:AccountingCustomerParty" minOccurs="0"/>
				<xs:element ref="cac:Delivery" minOccurs="0"/>
				<xs:element ref="cac:PaymentMeans" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="cac:PaymentTerms" minOccurs="0"/>
				<xs:element ref="cac-pl:InvoiceLine" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CorrectedDocumentData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cbc:ID" minOccurs="0"/>
				<xs:element ref="cbc:IssueDate" minOccurs="0"/>
				<xs:element ref="cbc:DueDate" minOccurs="0"/>
				<xs:element ref="cbc:Note" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="cbc:TaxPointDate" minOccurs="0"/>
				<xs:element ref="cac:InvoicePeriod" minOccurs="0"/>
				<xs:element ref="cac-pl:AccountingSupplierParty" minOccurs="0"/>
				<xs:element ref="cac-pl:AccountingCustomerParty" minOccurs="0"/>
				<xs:element ref="cac:Delivery" minOccurs="0"/>
				<xs:element ref="cac:PaymentMeans" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="cac:PaymentTerms" minOccurs="0"/>
				<xs:element ref="cac-pl:InvoiceLine" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OriginalInvoiceData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cac-pl:AdditionalInvoiceGrossData" minOccurs="0"/>
				<xs:element ref="cac-pl:AllowanceCharge" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="cac-pl:TaxTotal" maxOccurs="2"/>
				<xs:element ref="cac-pl:LegalMonetaryTotal"/>
				<xs:element ref="cac-pl:InvoiceLine" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="InvoicePeriod">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cbc-pl:StartDate" minOccurs="0"/>
				<xs:element ref="cbc-pl:StartTime" minOccurs="0"/>
				<xs:element ref="cbc-pl:EndDate" minOccurs="0"/>
				<xs:element ref="cbc-pl:EndTime" minOccurs="0"/>
				<xs:element ref="cbc-pl:DurationMeasure" minOccurs="0"/>
				<xs:element ref="cbc-pl:DescriptionCode" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="cbc-pl:Description" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Party">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cac-pl:PartyName" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="cac-pl:PostalAddress" minOccurs="0"/>
				<xs:element ref="cac-pl:PartyTaxScheme" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="cac-pl:PartyLegalEntity" minOccurs="0"/>
				<xs:element ref="cac-pl:Contact" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PartyName">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cbc-pl:Name"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PartyTaxScheme">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cbc-pl:CompanyID" minOccurs="0"/>
				<xs:element ref="cac-pl:TaxScheme"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PartyLegalEntity">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cbc-pl:RegistrationName" minOccurs="0"/>
				<xs:element ref="cbc-pl:CompanyID" minOccurs="0"/>
				<xs:element ref="cbc-pl:CompanyLegalForm" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Contact">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cbc-pl:Name" minOccurs="0"/>
				<xs:element ref="cbc-pl:Telephone" minOccurs="0"/>
				<xs:element ref="cbc-pl:ElectronicMail" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PostalAddress">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cbc-pl:ID" minOccurs="0"/>
				<xs:element ref="cbc-pl:StreetName" minOccurs="0"/>
				<xs:element ref="cbc-pl:AdditionalStreetName" minOccurs="0"/>
				<xs:element ref="cbc-pl:CityName" minOccurs="0"/>
				<xs:element ref="cbc-pl:PostalZone" minOccurs="0"/>
				<xs:element ref="cac-pl:Country" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Price">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cbc-pl:PriceAmount" minOccurs="0"/>
				<xs:element ref="cbc-pl:GrossPriceAmount" minOccurs="0"/>
				<xs:element ref="cbc-pl:BaseQuantity" minOccurs="0"/>
				<xs:element ref="cac-pl:AllowanceCharge" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReceiverParty">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cac-pl:Party"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SellersItemIdentification">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cbc-pl:ID"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SellerSupplierParty">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cac-pl:Party"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="StandardItemIdentification">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cbc-pl:ID"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SubInvoiceLine">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cbc-pl:ID"/>
				<xs:element ref="cbc-pl:Note" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="cbc-pl:InvoicedQuantity" minOccurs="0"/>
				<xs:element ref="cbc-pl:LineExtensionAmount" minOccurs="0"/>
				<xs:element ref="cbc-pl:LineExtensionGrossAmount" minOccurs="0"/>
				<xs:element ref="cbc-pl:AccountingCost" minOccurs="0"/>
				<xs:element ref="cac-pl:InvoicePeriod" minOccurs="0"/>
				<xs:element ref="cac-pl:TaxTotal" minOccurs="0"/>
				<xs:element ref="cac-pl:AllowanceCharge" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="cac-pl:Item" minOccurs="0"/>
				<xs:element ref="cac-pl:Price" minOccurs="0"/>
				<xs:element ref="cac-pl:SubInvoiceLine" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TaxCategory">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cbc-pl:ID" minOccurs="0"/>
				<xs:element ref="cbc-pl:Percent" minOccurs="0"/>
				<xs:element ref="cbc-pl:TaxExemptionReasonCode" minOccurs="0"/>
				<xs:element ref="cbc-pl:TaxExemptionReason" minOccurs="0"/>
				<xs:element ref="cac-pl:TaxScheme"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TaxScheme">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cbc-pl:ID"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TaxSubtotal">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cbc-pl:TaxInclusiveAmount" minOccurs="0"/>
				<xs:element ref="cbc-pl:TaxableAmount" minOccurs="0"/>
				<xs:element ref="cbc-pl:TaxAmount" minOccurs="0"/>
				<xs:element ref="cac-pl:TaxCategory"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TaxTotal">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cbc-pl:TaxAmount" minOccurs="0"/>
				<xs:element ref="cbc-pl:TaxInclusiveAmount" minOccurs="0"/>
				<xs:element ref="cac-pl:TaxSubtotal" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="UtilityConsumptionPoints">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cac-pl:UtilityConsumptionPoint" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="UtilityConsumptionPoint">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cbc-pl:ID"/>
				<xs:element ref="cbc-pl:Description" minOccurs="0"/>
				<xs:element ref="cac-pl:PostalAddress" minOccurs="0"/>
				<xs:element ref="cac-pl:UtilityMeter" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="UtilityMeter">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cbc-pl:MeterNumber"/>
				<xs:element ref="cac-pl:MeterReading" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MeterReading">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cbc-pl:MeterReadingType" minOccurs="0"/>
				<xs:element ref="cbc-pl:PreviousMeterReadingDate"/>
				<xs:element ref="cbc-pl:PreviousMeterQuantity"/>
				<xs:element ref="cbc-pl:LatestMeterReadingDate"/>
				<xs:element ref="cbc-pl:LatestMeterQuantity"/>
				<xs:element ref="cbc-pl:PreviousMeterReadingMethod" minOccurs="0"/>
				<xs:element ref="cbc-pl:LatestMeterReadingMethod" minOccurs="0"/>
				<xs:element ref="cbc-pl:CorrectedConsumptionQuantity" minOccurs="0"/>
				<xs:element ref="cac-pl:FuelMix" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FuelMix">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cac-pl:FuelType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FuelType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cbc-pl:FuelTypeCode"/>
				<xs:element ref="cbc-pl:Name" minOccurs="0"/>
				<xs:element ref="cbc-pl:Percentage" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
